body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #232323; /* Dark background color */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    color: #fff; /* White text color */
    margin-bottom: 20px; /* Add margin at the bottom */
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3x3 grid */
    gap: 10px;
    margin: 0 auto;
}

.hole {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    background-color: #0055aa; /* Dark blue background color */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.2s;
}

.hole:hover {
    background-color: #0077dd; /* Light blue background color on hover */
}

.mole {
    width: 80px; /* Adjusted for 3x3 grid */
    height: 80px; /* Adjusted for 3x3 grid */
    border-radius: 50%;
    background-image: url('mole.png'); /* Set the mole image as a background */
    background-size: cover; /* Adjust the size of the background */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    cursor: pointer; /* Add cursor pointer */
}

.mole.up {
    display: block;
}

.mole.clicked {
    background-image: url('red-cross.png'); /* Set the red X image as a background */
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 24px;
    color: #fff; /* White text color */
}

#restart-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #0099cc; /* Dark blue button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#restart-button:hover {
    background-color: #0077aa; /* Light blue button color on hover */
}
